
.btn-box {display:inline-block;}

/* search */
.btn-search:first-child {margin-left:0;}
.btn-search {background-image:url('../images/btn/btn-search.png'); padding:0 0 0 10px;}
.btn-search span {background-image:url('../images/btn/btn-search.png'); padding:0 10px 0 0; font-size:12px; line-height:30px; height:30px; font-weight:600; position:relative; top:0; left:0;}

.btn-search.gray {background-position:left top;}
.btn-search.gray span {background-position:right top;}
.btn-search.gray:hover {background-position:left -30px;}
.btn-search.gray:hover span {background-position:right -30px;}

.btn-search.black {background-position:left -60px;}
.btn-search.black span {background-position:right -60px;}
.btn-search.black:hover {background-position:left -90px;}
.btn-search.black:hover span {background-position:right -90px;}

.btn-search.white {background-position:left -120px;}
.btn-search.white span {background-position:right -120px; color:#595959;}
.btn-search.white:hover {background-position:left -150px;}
.btn-search.white:hover span {background-position:right -150px;}

.btn-search.yellow {background-position:left -180px;}
.btn-search.yellow span {background-position:right -180px; color:#594300;}
.btn-search.yellow:hover {background-position:left -210px;}
.btn-search.yellow:hover span {background-position:right -210px;}

.btn-search.brown {background-position:left -240px;}
.btn-search.brown span {background-position:right -240px; color:#fff;}
.btn-search.brown:hover {background-position:left -270px;}
.btn-search.brown:hover span {background-position:right -270px;}



/* btn default */
.btn-xlg, .btn-lg, .btn-md, .btn-sm {display:inline-block; text-decoration:none !important; background-repeat:no-repeat; text-align:right; vertical-align:middle;}
.btn-xlg.mw-auto, .btn-lg.mw-auto, .btn-md.mw-auto, .btn-sm.mw-auto {min-width:inherit;}
.btn-xlg + .btn-xlg, .btn-lg + .btn-lg, .btn-md + .btn-md, .btn-sm + .btn-sm {margin-left:6px;}
.btn-xlg > span, .btn-lg > span, .btn-md > span, .btn-sm > span { background-repeat:no-repeat; display:block; color:#fff; cursor:pointer; text-align:center; min-width:inherit; position:relative; top:0; left:0;}
.btn-xlg:first-child, .btn-lg:first-child, .btn-md:first-child, .btn-sm:first-child {margin-left:0px;}


/* x-large */
.btn-xlg {background-image:url('../images/btn/btn-xlarge.png'); padding:0 0 0 40px; min-width:60px;}
.btn-xlg > span {background-image:url('../images/btn/btn-xlarge.png'); padding:0 40px 0 0; line-height:50px; height:50px; font-size:18px; font-weight:600;}

.btn-xlg.wine {background-position:left top;}
.btn-xlg.wine span {background-position:right top;}
.btn-xlg.wine:hover {background-position:left -50px;}
.btn-xlg.wine:hover span {background-position:right -50px;}


/* large */
.btn-lg {background-image:url('../images/btn/btn-large.png'); padding:0 0 0 20px; min-width:60px;}
.btn-lg > span {background-image:url('../images/btn/btn-large.png'); padding:0 20px 0 0; line-height:34px; height:34px; font-weight:600;}

.btn-lg.brown {background-position:left top;}
.btn-lg.brown span {background-position:right top;}
.btn-lg.brown:hover {background-position:left -40px;}
.btn-lg.brown:hover span {background-position:right -40px;}

.btn-lg.burgundy {background-position:left -80px;}
.btn-lg.burgundy span {background-position:right -80px;}
.btn-lg.burgundy:hover {background-position:left -120px;}
.btn-lg.burgundy:hover span {background-position:right -120px;}

.btn-lg.blue {background-position:left -160px;}
.btn-lg.blue span {background-position:right -160px;}
.btn-lg.blue:hover {background-position:left -200px;}
.btn-lg.blue:hover span {background-position:right -200px;}

.btn-lg.green {background-position:left -240px;}
.btn-lg.green span {background-position:right -240px;}
.btn-lg.green:hover {background-position:left -280px;}
.btn-lg.green:hover span {background-position:right -280px;}

.btn-lg.purple {background-position:left -320px;}
.btn-lg.purple span {background-position:right -320px;}
.btn-lg.purple:hover {background-position:left -360px;}
.btn-lg.purple:hover span {background-position:right -360px;}

.btn-lg.gray {background-position:left -400px;}
.btn-lg.gray span {background-position:right -400px;}
.btn-lg.gray:hover {background-position:left -440px;}
.btn-lg.gray:hover span {background-position:right -440px;}

.btn-lg.white {background-position:left -480px;}
.btn-lg.white span {background-position:right -480px; color:#595959;}
.btn-lg.white:hover {background-position:left -520px;}
.btn-lg.white:hover span {background-position:right -520px;}

.btn-lg.yellow {background-position:left -560px;}
.btn-lg.yellow span {background-position:right -560px; color:#594300;}
.btn-lg.yellow:hover {background-position:left -600px;}
.btn-lg.yellow:hover span {background-position:right -600px;}

.btn-lg.dbrown {background-position:left -640px;}
.btn-lg.dbrown span {background-position:right -640px;}
.btn-lg.dbrown:hover {background-position:left -680px;}
.btn-lg.dbrown:hover span {background-position:right -680px;}

.btn-lg.navy {background-position:left -720px;}
.btn-lg.navy span {background-position:right -720px;}
.btn-lg.navy:hover {background-position:left -760px;}
.btn-lg.navy:hover span {background-position:right -760px;}



/* medium */
.btn-md {background-image:url('../images/btn/btn-medium.png'); padding:0 0 0 20px; min-width:50px;}
.btn-md span {background-image:url('../images/btn/btn-medium.png'); padding:0 20px 0 0; line-height:30px; height:30px; font-weight:600; position:relative; top:0; left:0;}

.btn-md.brown {background-position:left top;}
.btn-md.brown span {background-position:right top;}
.btn-md.brown:hover {background-position:left -30px;}
.btn-md.brown:hover span {background-position:right -30px;}

.btn-md.burgundy {background-position:left -60px;}
.btn-md.burgundy span {background-position:right -60px;}
.btn-md.burgundy:hover {background-position:left -90px;}
.btn-md.burgundy:hover span {background-position:right -90px;}

.btn-md.blue {background-position:left -120px;}
.btn-md.blue span {background-position:right -120px;}
.btn-md.blue:hover {background-position:left -150px;}
.btn-md.blue:hover span {background-position:right -150px;}

.btn-md.green {background-position:left -180px;}
.btn-md.green span {background-position:right -180px;}
.btn-md.green:hover {background-position:left -210px;}
.btn-md.green:hover span {background-position:right -210px;}

.btn-md.purple {background-position:left -240px;}
.btn-md.purple span {background-position:right -240px;}
.btn-md.purple:hover {background-position:left -270px;}
.btn-md.purple:hover span {background-position:right -270px;}

.btn-md.gray {background-position:left -300px;}
.btn-md.gray span {background-position:right -300px;}
.btn-md.gray:hover {background-position:left -330px;}
.btn-md.gray:hover span {background-position:right -330px;}

.btn-md.white {background-position:left -360px;}
.btn-md.white span {background-position:right -360px; color:#595959;}
.btn-md.white:hover {background-position:left -390px;}
.btn-md.white:hover span {background-position:right -390px;}

.btn-md.yellow {background-position:left -420px;}
.btn-md.yellow span {background-position:right -420px; color:#594300;}
.btn-md.yellow:hover {background-position:left -450px;}
.btn-md.yellow:hover span {background-position:right -450px;}

.btn-md.dbrown {background-position:left -480px;}
.btn-md.dbrown span {background-position:right -480px;}
.btn-md.dbrown:hover {background-position:left -510px;}
.btn-md.dbrown:hover span {background-position:right -510px;}

.btn-md.navy {background-position:left -540px;}
.btn-md.navy span {background-position:right -540px;}
.btn-md.navy:hover {background-position:left -570px;}
.btn-md.navy:hover span {background-position:right -570px;}




/* small */
.btn-sm {background-image:url('../images/btn/btn-small.png'); padding:0 0 0 10px;}
.btn-sm span {background-image:url('../images/btn/btn-small.png'); padding:0 10px 0 0; font-size:11px; line-height:22px; height:20px; position:relative; top:0; left:0;}

.btn-sm.gray {background-position:left top;}
.btn-sm.gray span {background-position:right top;}
.btn-sm.gray:hover {background-position:left -20px;}
.btn-sm.gray:hover span {background-position:right -20px;}

.btn-sm.white {background-position:left -40px;}
.btn-sm.white span {background-position:right -40px; color:#595959 !important;}
.btn-sm.white:hover {background-position:left -60px;}
.btn-sm.white:hover span {background-position:right -60px;}

.btn-sm.navy {background-position:left -80px;}
.btn-sm.navy span {background-position:right -80px;}
.btn-sm.navy:hover {background-position:left -100px;}
.btn-sm.navy:hover span {background-position:right -100px;}

.btn-sm.green {background-position:left -120px;}
.btn-sm.green span {background-position:right -120px;}
.btn-sm.green:hover {background-position:left -140px;}
.btn-sm.green:hover span {background-position:right -140px;}

.btn-sm.skyblue {background-position:left -160px;}
.btn-sm.skyblue span {background-position:right -160px;}
.btn-sm.skyblue:hover {background-position:left -180px;}
.btn-sm.skyblue:hover span {background-position:right -180px;}

.btn-sm.orange {background-position:left -200px;}
.btn-sm.orange span {background-position:right -200px;}
.btn-sm.orange:hover {background-position:left -220px;}
.btn-sm.orange:hover span {background-position:right -220px;}




.tab-btn1 {position:relative; list-style:none; margin:0; padding:0;}
.tab-btn1:after {content:''; display:block; clear:both;}
.tab-btn1 li {float:left;}
.tab-btn1 li > * {height:36px; line-height:36px; display:block; text-align:center; min-width:100px; border-right:#cdcdcd 1px solid; font-weight:600; text-decoration:none !important; background:none;}
.tab-btn1 li:first-child > * {border-left:#cdcdcd 1px solid;}
.tab-btn1 li:last-child > * {border-right:none; border-top-right-radius:3px;}
.tab-btn1 li:first-child:last-child > * {border-right:none;}
.tab-btn1 li > *:hover, .tab-btn1 li > *:focus {background:#f7f7f7; color:#ef4036;}
.tab-btn1 li.on > *, .tab-btn1 a.active {color:#ef4036; background:#fff;}

